@import '../../styles/partials/index.scss';

$loadingSize: 1rem;
$loadingSizeLg: 1.25rem;
$loadingSizeSm: .75rem;
$onePixel: (1/16.0 * 1rem);

button, button.btn, a.btn, input.btn, .btn {
  cursor: pointer;
  outline: none;

  .btn-body {
    display: inline-block;
    position: relative;
    transition: padding .1s ease-out;
    vertical-align: middle;

    .loading {
      left: 0;
      line-height: .5;
      position: absolute;
      top: $onePixel;
    }

    i {
      width: $loadingSize + $onePixel;
    }
  }

  &.loading {
    cursor: default;

    .btn-body {
      padding-left: $loadingSize + ($onePixel * 5);
    }
  }

  &.icon {
    .btn-body {
      transition: none;
    }
  }

  &.btn-no-text {
    .loading {
      left: inherit;
      position: relative;
      top: inherit;
    }

    i {
      width: $loadingSize;
    }

    &.loading {
      .btn-body {
        padding-left: 0;
      }
    }
  }

  &.btn-lg {
    .btn-body {
      .loading {
        line-height: 1.5;

        .loading-icon {
          height: $loadingSizeLg;
          width: $loadingSizeLg;
        }
      }

      i {
        width: $loadingSizeLg + $onePixel;
      }
    }

    &.loading {
      .btn-body {
        padding-left: $loadingSizeLg + ($onePixel * 5);
      }
    }

    &.btn-no-text {
      .loading {
        left: inherit;
        line-height: 1;
        position: relative;
        top: inherit;
      }

      i {
        width: $loadingSizeLg;
      }

      &.loading {
        .btn-body {
          padding-left: 0;
        }
      }
    }
  }

  &.btn-sm {
    .btn-body {
      .loading {
        top: $onePixel * 2;

        .loading-icon {
          height: $loadingSizeSm;
          width: $loadingSizeSm;
        }
      }

      i {
        width: $loadingSizeSm + $onePixel;
      }
    }

    &.loading {
      .btn-body {
        padding-left: $loadingSizeSm + ($onePixel * 5);
      }
    }

    &.btn-no-text {
      .loading {
        left: inherit;
        line-height: 1.25;
        position: relative;
        top: inherit;
      }

      i {
        width: $loadingSizeSm;
      }

      &.loading {
        .btn-body {
          padding-left: 0;
        }
      }
    }
  }
}