@import '../../styles/partials/index.scss';
@import 'node_modules/bootstrap/scss/_functions.scss';
@import 'node_modules/bootstrap/scss/_variables.scss';

.select {
  .select-placeholder {
    color: $input-placeholder-color;
    overflow: hidden;
    white-space: pre;
    word-wrap: normal;
  }

  .close {
    font-size: 0.875rem;
    line-height: 1.5;
  }

  .dropdown-toggle-icon {
    line-height: 1.5;
  }

  &.form-control.has-success {
    background-image: none;
    border-color: theme-color("success");
  }

  &.form-control.has-warning {
    background-image: none;
    border-color: theme-color("warning");
  }

  &.form-control.has-danger {
    background-image: none;
    border-color: theme-color("danger");
  }
}