@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss';
@import 'node_modules/bootstrap/scss/_variables.scss';

.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        .navbar-brand {
          margin-right: auto;
        }
      }
    }
  }
}